.icon {
    align-items: center;
    filter: brightness(0) invert(1);
}

.contact {
    padding-top:40px;
    background-color: black;
    font-size: 30px;
    color: white;
}

.actuallyAFoot {
    background-color: black;
    padding-bottom:20px;
}

.socialMedia {
    left: -70px;
    position: relative;
}