* {
    color: white;
}

.homepic {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}
  
.welcome {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.explore {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.homeCard {
    background-color: rgb(43, 39, 39);
    height: 350px;
    width: 22%;
    border-radius: 12px;
}

.cardContainer {
    margin-top: 10%;
}

.icon {
    margin-left: 20px;
    height: 30px;
    width: 30px;
}

.cardTitle {
    font-family: 'Space Mono', monospace;
    font-size: 28px;
}

.cardText {
    font-family: 'Dosis', sans-serif;
}