.inputTitle {
    color: white;
}

.dateText {
     color: black;
}

.border {
    
}

.dateBox {
    margin-top: 50px;
    margin-bottom: 30px;
}

.moonBtn, .starBtn {
    margin-left: 30px;
}

.inputTitle {
    margin-top: 20px;
}

.inputs {
    width: 30%;
}

option {
    color: black;
}